---
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<div style="clear: both"><h1 style="float: left"><a href="{{ post.url }}">{{ page.title }}</a></h1><h3 style="float: right">{{ page.date | date: "%d/%m/%Y" }}</h3></div>
	{% endif %}

	<div class="post-content" style="clear: both">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>

</article>